html {
    font: 112.5%/1.45em Open Sans,serif;
    box-sizing: border-box;
    overflow-y: scroll;
}
body {
    font-family: Open Sans,sans-serif;
    color: #333;
    font-weight: 400;
    font-size: 80%;
    margin: 0;
    height: 100%;
    background-color: lightslategray  ;
}
* {
    box-sizing: inherit;
}
*:before {
    box-sizing: inherit;
}
*:after {
    box-sizing: inherit;
}
a {
    color: gray;
    text-decoration: none;
    outline: none;
}
a:focus {
    outline: 0;
}
#gatsby-noscript {
    display: none;
}

.navbar-menu {
    margin: 0px;
    padding: 10px 0;
    display: flex;
    background-color: #333;
    justify-content: center;
}

.navbar-item {
    list-style: none;
    display: inline;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-link {
    color: white;
}

.navbar-link[aria-current=page] {
    color: white;
    font-weight: bold;
}


.footer-mainpage {
    text-align: right;
    margin: 1rem 0;
    padding: 0 20px;
}

.footer-mainpage a {
    text-transform: uppercase;
    font-size: 12px;
    color: #333;
}

.guestbook, .messagelisting {
    margin: 10px auto;
    width: 80%;
    max-width: 50rem;
}

.guestbook-item, .messagelisting-item {
    background-color: #93a9bf;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.messagelisting-date {
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 700;
}

.guestbook > h3, .messagelisting > h3 {
    text-align: center;
}

.guestbook-text, .messagelisting-text {
    font-style: italic;
}

.guestbook-author::before, .messagelisting-author::before {
    content: " — ";
}

.guestbook-author, .messagelisting-author {
    text-align: right;
    text-transform: uppercase;
    font-size: 80%;
}

.submission-form {
    margin: 1rem auto;
    width: 20rem;
    background-color: white;
    padding: 1rem;
}

.submission-form label {
    display: block;
    text-transform: uppercase;
    font-size: 90%;
    color: #888;
    font-weight: bold;
}


.submission-form input, .submission-form textarea {
    width: 100%;
    border: none;
    background-color: #eee;
    padding: 0.5rem;
    font-size: 15px;
}

.submission-form textarea {
    height: 10rem;
}

.button-wrapper {
    text-align: center;
}

.button-wrapper button {
    background-color: darkslategray;
    width: 50%;
    margin: 1rem;
    color: white;
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 14px;
}

.submission-links a {
    color: #d8d8d8;
    text-transform: uppercase;
    font-size: 90%;
    margin: 0 0.75rem;
    white-space: nowrap;
}

.submission-links {
    max-width: 50rem;
    margin: auto;
    text-align: center;
    color: white;
    padding: 10px;
    width: 80%;
}